* {
    padding: 0;
    margin: 0;
    background: #fff;
}

#wrapper {
    font-family: "Helvetica", "Arial", "Noto Sans TC", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
    width: 250px;
    font-size: 1.2rem;
    margin: 15px;
    text-align: center;
}

#text {
    display: none;
}

#fromTimeWrapper,
#toTimeWrapper {
    display: none;
    margin: 10px;
}

#fromTime,
#toTime {
    color: red;
}
