* {
    padding: 0;
    margin: 0;
    background: #f8f8f8;
}

#wrapper {
    font-family: 'Noto Sans TC';
    width: 250px;
    font-size: 1.2rem;
    margin: 15px;
    text-align: center;
}

#fromTime,
#toTime {
    margin: 10px;
    color: red;
}
